# Server Configuration
PORT=3003
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mov_enrollments
DB_USER=admin
DB_PASSWORD=admin123
DB_DIALECT=postgres

# External Service URLs
EVENT_SERVICE_URL=http://localhost:3002/api/v1

# Logging
LOG_LEVEL=info
